<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>585459153792-t9j8c1eonpkt08lr6oq43napjij3fp8f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.585459153792-t9j8c1eonpkt08lr6oq43napjij3fp8f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>585459153792-lfvqfn2unfcn85jct631daocn2id4f7d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyARaQiHeVGLHlsnDM_oO-Sd50R_8MUgIro</string>
	<key>GCM_SENDER_ID</key>
	<string>585459153792</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.video</string>
	<key>PROJECT_ID</key>
	<string>app-2efab</string>
	<key>STORAGE_BUCKET</key>
	<string>app-2efab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585459153792:ios:f1858f657a7513cb</string>
	<key>DATABASE_URL</key>
	<string>https://app-2efab.firebaseio.com</string>
</dict>
</plist>